@page "/set-pin"
@* This page is deprecated and redirects to dashboard in OnInitialized. *@
<MudContainer MaxWidth="MaxWidth.Small" Class="mt-16">
    <div class="d-flex justify-center">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </div>
</MudContainer>
